.heading{
    color: rgb(0, 0, 0);
    text-align: center;
    /* text-decoration: overline; */
    background-color: rgb(240, 72, 72);
    border-radius: 25px;
}
body{
    background-color: rgb(9, 118, 176);color: white;
}
.button{
    background-color: aqua;color: rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
    
}

/* p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(./2.PNG);
color: rgb(0, 0, 0); 
font-weight: bolder; */

/* } */
h3{
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
tr{
text-transform: capitalize;
}
table{
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
div{
   text-transform: uppercase;
    text-align: center;
    padding:auto;
    margin: auto;
    border-radius: auto ;
    background-color: rgb(60, 78, 125)

    
}
.box,.box1,.box2,.boxs{
   background-color: blueviolet;
    height: auto;
    width: auto;
    border: 2px groove black;
    border-radius: 15px;

}
.myClass{
    color: rgb(0, 0, 0);
    background-image: url(./2.PNG);
}
.newClass{
    color: rgb(252, 0, 0);
    background-color: rgb(243, 243, 246);
    text-align: center;
    text-decoration: dotted;
    text-transform: uppercase;
    font-style: italic;
}